<%- include("partials/header") %>

<h3>SignUp</h3>

<div class="container">
    <form action="/signup" method="POST">
        <div class="form-group">
            <input placeholder="username" type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="password" type="password" name="password" class="form-control">
        </div>
            <button>SignUp</button>
    </form>
</div>


<%- include("partials/footer") %>