<%- include("../partials/header") %>

<div class="container" style="border: 1px solid black;">
    <h1>classroom</h1>
        <div>
            <img style="width: 50px;" src="<%= category.img %>" alt="picture">
            <h4><%= category.name %> </h4>
        </div>
        <a href="/teacher/classroom">Back</a>
</div>

<%- include("../partials/footer") %>