<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>e-Brain.org</title>
</head>
<body>


  <div class="container" style="border: 1px solid black;">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/teacher">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/calendar">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/classroom">Classroom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/finances" >Finances</a>
          </li>
        </ul>
  </div>
    
